body,
html {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .header_title {
    font-size: 2rem;
    font-family: system-ui;
}

.header > .header_small {
    font-size: 0.5rem;
    font-family: system-ui;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.container {
    /* width by screen width */
    display: flex;
    justify-content: center;
}

.content {
    width: 85%;
}
@media screen and (max-width: 400px) {
    .content {
        width: 95% !important;
    }
}

.content > .subtitle {
    font-size: 1.5rem;
    font-family: system-ui;
    margin-bottom: 1rem;
    border-bottom: 2px solid orange;
}

.content > .text {
    font-size: 0.9rem;
    font-family: system-ui;
    margin-bottom: 0.5rem;
}

.content > .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.content > .item > .item_title {
    font-size: 1.2rem;
    font-family: system-ui;
    padding-left: 0.3rem;
    border-left: 3px solid orange;
}

.content > .item > .item_title > a {
    color: rgb(47, 155, 228);
}

.links {
    display: flex;
    flex-direction: column;
}

.text > .link > a {
    color: rgb(47, 155, 228);
}

.footer {
    height: 60px;
    background-color: rgb(255, 213, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
